<%- if @rdomain != 0 %>
rdomain <%= @rdomain %>
<%- end %>
<%- if @tunneldomain != 0 %>
tunneldomain <%= @tunneldomain %>
<%- end %>
<%- if @dhcp %>
dhcp
<%- else %>
<%- if @inet %>
inet <%= @inet %>
<%- end %>
<%- if @inet6 %>
inet6 <%= @inet6 %>
<%- end %>
<%- end %>
<% @extra_commands.each do |cmd| %>
!<%= cmd %>
<% end %>
